$mainFont: 'Source Sans Pro', sans-serif;
$secondaryFont: 'Merriweather', serif;
$mainEmerald: #9ccbb9;
$secondaryFontGray: #656d70;
$softBorderGray: #eeeeee;
$footerBG-Gray: #f5f5f5;
$footerGrayFont: #717981;
$footerSeconaryGrayF: #717981d8;
$pinkTouche: #e81740;
$softPinkTouche: #da657c;


