* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

/* VARIABLES */
:root {
  --secondaryBlack: #222222;
  --thirdBlack: #333333;
  --mainFont: "Antonio", sans-serif;
  --secondaryFont: #ff8b00;
  --thirdFont: #939688;

  /* HEADER */
}
nav {
  height: 7rem;
  width: 100%;
  background-color: #222222;
  display: flex;
  position: fixed;
  z-index: 1;
  box-shadow: 1px 1px 5px 5px #000;
}

.logo {
  display: flex;
  width: 50%;
  padding-left: 7%;
  padding-top: 1rem;
  align-items: center;
}

.logo h3 a strong {
  font-size: 20px;
  color: var(--secondaryFont);
}

.logo h3 a strong:hover {
  text-decoration: underline;
}

.navBar {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBar ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navBar ul li {
  display: flex;
  margin-right: 12%;
  margin-top: 7%;
}

.navBar ul li a {
  color: #fff;
}

.navBar ul li .home {
  color: var(--secondaryFont);
}

.aboutArrow {
  display: flex;
}

/* SECTION 1 */

.bgSkate {
  width: 100%;
  height: 42vw;
  background-image: url(../img/images/hero_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: initial;
  overflow: hidden;
}

.newGen {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 12%;
  color: #fff;
}

.newGen h1 {
  font-family: var(--mainFont);
  font-size: 65px;
}

.newText {
  margin-bottom: 9rem;
}

.newGen button {
  width: 18%;
  height: 2.5rem;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
}

.newGen button a {
  color: #fff;
}

/* SECTION 2 */

.sect2 {
  background-color: var(--secondaryBlack);
  height: 146vh;
  color: var(--thirdFont);
}

.servContainer {
  height: 110vh;
}

.serv {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 7%;
  width: 100%;
  height: 50vh;
}

.serv h2 {
  font-size: 3.5rem;
  font-family: var(--mainFont);
  color: var(--secondaryFont);
}

.serCard {
  display: flex;
  text-align: left;
  flex-direction: column;
}

.serCard p {
  margin-bottom: 3rem;
}

.frame {
  width: 50px;
  height: 50px;
  background-color: var(--thirdBlack);
  margin-bottom: 2rem;
}

.icon {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin-bottom: 2.3rem;
  background-color: var(--thirdBlack);
  padding-top: 1.2rem;
  padding-right: 0.5rem;
}

.icon-b {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 64px;
  height: 64px;
}

.i1 {
  background-image: url(../img/i1.png);
}

.i2 {
  background-image: url(../img/i2.png);
}

.i3 {
  background-image: url(../img/i3.png);
}
.i4 {
  background-image: url(../img/i4.png);
}
.i5 {
  background-image: url(../img/i5.png);
}
.i6 {
  background-image: url(../img/i6.png);
}

.serCard h3 {
  font-family: var(--mainFont);
  margin-bottom: 3rem;
  font-weight: bold;
  color: #fff;
}

/* SECTION 3 */

.sect3 {
  background-color: #222222;
}

.square1 {
  width: 50rem;
  height: 50rem;
  background-image: url(../img/images/img_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: initial;
  overflow: hidden;
}

.square2,
.square3 {
  color: var(--thirdFont);
  padding: 5% 7%;
}

.bestGuys {
  font-family: var(--mainFont);
  color: #ff8b00;
}

.bestList {
  margin: 56px 19px;
  list-style-image: url(../img/check-mark.png);
}

.square4 {
  width: 50rem;
  height: 50rem;
  background-image: url(../img/images/img_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: initial;
  overflow: hidden;
}

/* SECTION 4 */

.sect4 {
  background-color: var(--secondaryBlack);
}

.colTeam1 {
  width: 100%;
  height: 36vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
  color: white;
}

.colTeam1 h2 {
  text-align: center;
  font-size: 43px;
  font-family: var(--mainFont);
  color: var(--secondaryFont);
}
.colTeam1 p {
  text-align: center;
  color: var(--thirdFont);
  line-height: 2;
}

.lineTeam2 {
  height: 50%;
  padding: 3rem 1rem;
}

.colTeam2 {
  width: 100%;
  height: 50vh;
}

.cardTeam {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--thirdBlack);
  border-radius: 2%;
}

.teamPic {
  width: 60%;
  height: 60%;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1.3rem;
}

.cardTeam h4 {
  font-family: var(--mainFont);
  color: var(--secondaryFont);
}

.cardTeam p {
  font-size: 15px;
  color: var(--thirdFont);
}

.cardTeam ul {
  display: flex;
  list-style: none;
}

.cardTeam ul a {
  margin: 0 3px;
}

footer {
  background-color: var(--thirdBlack);
  padding-top: 8%;
}

footer .colHeight {
  height: 58vh;
  border-bottom: 1px solid var(--thirdFont);
}

.footOrder h4 {
  font-size: 19px;
  font-family: var(--mainFont);
  color: #fff;
  margin-bottom: 5%;
}

.textAbout {
  color: #fff;
}

.featureList {
  list-style: none;
  color: var(--thirdFont);
}

.featureList li {
  padding: 7px 0;
}

.enterMail {
  display: flex;
}

.enterMail input {
  height: 3rem;
  width: 70%;
  background-color: transparent;
  border: 1px solid var(--thirdFont);
  border-radius: 2px;
  margin-bottom: 15%;
}

.enterMail input::placeholder {
  padding-left: 7px;
}

.enterMail button {
  width: 6rem;
  height: 3rem;
  font-size: 0.9rem;
  background-color: var(--secondaryFont);
  color: #fff;
  border: 1px solid var(--secondaryFont);
}

.subsList {
  display: flex;
  list-style: none;
  margin-right: 10px;
  margin-left: -5px;
}

.imgFb {
  margin-right: 20px;
}

.copyText {
  text-align: center;
  padding: 2rem 0;
}

.copyText p {
  font-size: 12px;
  color: #fff;
}

.heart {
  font-size: 10px;
  color: red;
}

.easterEgg {
  color: var(--thirdFont);
}
