* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}


.bgBlack {
   background-color: black;
   height: 30px;
   border: 1px solid black;
}

.bgGreen {
    background-color: chartreuse;
    height: 30px;
    border: 1px solid black;
}

.line6-1, .line6-2 {
    height: 15px;
}