.pTopButton {
  padding: 40px 0;
}

nav {
  background-color: #082b49;
}
nav .linksNav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}
nav .linksNav li {
  list-style: none;
  padding: 0 35px;
}
nav .linksNav li a {
  color: #fff;
}

.bg-banner {
  background-image: url(../img/banner_bg.png);
  height: 100vh;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.bg-banner .textBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: unset;
  padding-left: 10%;
}
.bg-banner .textBanner p {
  color: coral;
}
.bg-banner .textBanner h1 {
  color: #082b49;
  font-weight: 300;
  font-size: 60px;
  word-spacing: 40px;
}

.imageDog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.imageDog img {
  width: 50%;
}

.fCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fCenter .textCare {
  width: 50%;
}

.bgServices {
  background-image: url(../img/services_bg.png);
}
.bgServices .col-12 {
  text-align: center;
  padding: 110px 0;
}
.bgServices .card {
  background-color: transparent;
  border: none;
  align-items: center;
}
.bgServices .card img {
  width: 60%;
}
.bgServices .card h5 {
  text-align: center;
}
.bgServices .card p {
  font-size: 0.8rem;
  color: #000000ad;
}

.paddSide {
  padding: 2% 12%;
}

.colLeftAdopt {
  padding-left: 25%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.colLeftAdopt h2 {
  font-weight: 400;
  word-spacing: 15px;
  margin-bottom: 4rem;
}
.colLeftAdopt p {
  font-size: 18px;
}
.colLeftAdopt .containerAdopt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.allBtns {
  border-radius: 20px;
  background-color: #53c9bb;
  border-color: #53c9bb;
}

.happyDog {
  background-image: url(../img/review_bg.png);
  height: 47vh;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.adoptEm {
  display: flex;
  justify-content: center;
  align-items: center;
}
.adoptEm .textCare {
  width: 50%;
}

.bgBlue {
  background-image: url(../img/footer_bg.png);
  height: 100vh;
}
.bgBlue .subscribe {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 110px 0;
  color: #f4f6f1;
}
.bgBlue P {
  margin-bottom: 3%;
}
.bgBlue .inputForm {
  width: 37%;
}
.bgBlue .boxLi {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #f4f6f1;
}
.bgBlue h3 {
  font-weight: 400;
}
.bgBlue .home {
  list-style: none;
  margin-right: 17%;
}
.bgBlue .homeLi {
  padding: 5%;
}
.bgBlue .homeLi a {
  color: #f4f6f1;
}